body {
  background-image: url("wallp.jpg");
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}

.dropDownMenuDiv {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  display: inline-block;
}

h3 {
  color: whitesmoke;
  text-shadow: 1px 1px black;
}

#chaosIcon {
  height: 64px;
  width: 64px;
  background-color: #699e3c;
  border-radius: 25px;
}

.dropbtn {
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 2px 2px black;
}

.dropbtn:hover,
.dropbtn:focus {
  background: rgba(0, 0, 0, 0.4);
}


.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.show {
  display: flex;
  flex-direction: column;
}

.buttonsMenu {
  background-color: #699e3c;
  text-shadow: 1px 1px black;
  color: whitesmoke;
  border: none;
  padding: 2%;
  box-shadow: 1px 1px black;
  margin: 2%;
  font-weight: bold;
  cursor: pointer;
}

.buttonsMenu:hover {
  background: rgba(0, 0, 0, 0.4);
}


.pageDescription {
  grid-area: 1 / 2 / 2 / 5;
  padding: 3%;
  background-color: #699e3c;
  border-radius: 25px;
  border: 1px solid black;
 }

ul {
  list-style-type: square;
}

.qa {
  grid-area: 3 / 2 / 2 / 5;
  padding: 3%;
  background-color: #699e3c;
  border: 1px solid black;
  border-radius: 25px;
  margin-bottom: 50px;
}

a {
  color: whitesmoke;
  text-shadow: 1px 1px black;
}

.footer {
  flex-shrink: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  color: whitesmoke;
  text-shadow: 1px 1px black;
  text-align: center;
}