body {  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #044343 0%, #000000 74%);
  }
  
  h3 {
    color: whitesmoke;
    text-shadow: 1px 1px black;
    text-align: center;
    padding: 2%;
  }


  /* Yes, we wrapped our nav in a header tag.
This allows us to add a background to the nav bar without 
cutting off on our max-width property.
To see what I mean, try moving this background to the nav element
*/
header {
  background: #044343;
  border: 1px solid gray;  
}

nav {      
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: auto;
}

.logo {
  margin-right: auto;
}

.dropdown-link-container {       
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.dropdown-link-container > a {
  margin-left: 20px;
}

.mobile-dropdown-toggle {
  display: none;
}

@media (max-width: 768px) {
  .logo,
  .mobile-dropdown-toggle {
    z-index: 1;
  }

  .mobile-dropdown-toggle {
    display: initial;
  }

  .dropdown-link-container {
    /* first, make our dropdown cover the screen */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    /* fix nav height on mobile safari, where 100vh is a little off */
    height: -webkit-fill-available;

    /* then, arrange our links top to bottom */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    /* add margins and padding to taste */
    margin: 0;
    padding-left: 7vw;
    padding-right: 7vw;
    background: #044343;
    z-index: 0;

    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.2s, opacity 0.2s;
  }

  nav.dropdown-opened > .dropdown-link-container {
    opacity: 1;
    transform: translateY(0);
  }
}

/* this stuff isn't super important */
html {
  font-family: sans-serif;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: aliceblue;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #044343 0%, #000000 74%);
}

.navLinks {  
  background-color: black;
  color: aliceblue;
  padding: 1%;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-radius: 5%;
  border: 1px solid gray;  
}

.navLinks:hover {
  background-image: linear-gradient(315deg, #044343 0%, #000000 74%);
}


h3{
    color: #045757;
    text-shadow: 1px 1px #044343;
}
  
  .parent {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    }


   
 


  .pageDescription {
    grid-area: 2 / 1 / 3 / 7;
    text-align: center;
    background-color: rgba(194, 194, 194, 0.075);
    border-radius: 25px;
    border: 1px solid gray;
    display: block;
    margin: 10px;
  }
  
  #gtbgBaner {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    border: 1px solid black;
    display: block;
  
  }

 @media (max-width: 600px) {
    #gtbgBaner {
      width: 100%; 
    }
  }
  
  .articlesList { 
    grid-area: 1 / 4 / 2 / 5; 
    padding: 2%;
    scroll-behavior: auto;
    border-radius: 25px;
    border: 1px solid gray;
  }
  
  .listItem {
    cursor: pointer;
  }
  
  .contentDiv {
    grid-area: 1 / 1 / 2 / 4;    
    padding: 2%;
    background-color: rgba(194, 194, 194, 0.075);
    border-radius: 25px;
    border: 1px solid gray;
  
  }
  
  
  #articleImage {
    width: 50%;
    height: auto;
    object-fit: contain;
    margin-right: 10px;
    border: 1px solid black;
    float: left;
    display: block;
  }
  
  .gutenbergLink {
    color: whitesmoke;
    text-shadow: 1px 1px black;
  }
  
  .footer {
    flex-shrink: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: whitesmoke;
    text-shadow: 1px 1px black;
    text-align: center;
  }
