body {
  background-image: url("wallp.jpg");
    text-align: justify;  
}
h3{
  color:whitesmoke;
}

#chaosIcon{
  height: 64px;
  width: 64px;
  background-color:#699e3c;
  border-radius: 25px;
}
.dropbtn {
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 2px 2px black;
   }

.dropbtn:hover, .dropbtn:focus {
  background: rgba(0, 0, 0, 0.4);
}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
    
  
  .show {
      display: flex;
        flex-direction: column;
}

.buttonsMenu{
  background-color:#699e3c;
  text-shadow: 1px 1px black;
   color: whitesmoke;
   border: none;
   padding: 2%;
   box-shadow: 1px 1px black;
   margin:2%;
   font-weight: bold;
   cursor: pointer;  
       }
   
   .buttonsMenu:hover{
     background: rgba(0, 0, 0, 0.4);
        }
  
        #pageDescription{
          margin-left: auto;
         margin-right: auto;
         text-align:justify;
         width: 25%;
         padding: 3%;  
         background-color:#699e3c;  
         border-radius: 25px;
         border: 1px solid black;
        }
 

#gtbgLogo{
  height: 100px;
 width: 100px;  
 float: left;
 padding: 0 20px 20px 0;
 padding: 2%;
 box-shadow: 1px 1px black;
 border-radius: 25%;
 margin-right: 8px;
 background:orangered;
 
}


#articlesDiv{
  align-self: flex-start; 
  margin-left: auto;
  margin-right: auto;
  width: 70%;   
  padding: 2%;
  background-color:#699e3c;
  border: 1px solid black;
   border-radius: 25px;
  margin-bottom: 50px;
  position: relative;  
}


.gutenbergLink{
    color: whitesmoke;
    text-shadow: 1px 1px black;
}

.footer{ 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
color: whitesmoke;
text-shadow: 1px 1px black;
  text-align: center;
}
 
