
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #044343 0%, #000000 74%);
}

h1 {
    color: #045757;
    text-shadow: 1px 1px #044343;
}

h2 {
    color: #045757;
    text-shadow: 1px 1px #044343;
}

a{
    color:aliceblue;
}



.menuDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.buttonsMenu {
    background-color: black;
    color:aliceblue;
    padding: 1%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5%;
    border: 1px solid gray;
}

.buttonsMenu:hover {
    background-color: rgba(194, 194, 194, 0.075);
}


.row {
    display: flex;
    flex-wrap: wrap;
  }
  

  .column {
    flex: auto;
     margin: 10px;  
  }
  
  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .column {
      flex: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }

  #moonContainer {
    width: min-content;
    padding: 2%;
    align-content: right;
    border-radius: 25px;
}

#moonPicture {
    height: 200px;
    width: 200px;
}


#phase {
    color: #045757;
    text-shadow: 1px 1px #044343;
    font-size: larger;
}


#imageContainer {
    padding: 2%;
    background-color: rgba(194, 194, 194, 0.075);
    border-radius: 25px;
    border: 1px solid gray;
}

.descriptionP {
    padding-top: 2%;
}

.titleP {
    font-weight: bold;
}

.starImage {
    cursor: pointer;
    width: 100%;
    height: auto;
    object-fit: contain;
    border: 1px solid gray;
}

.starVideo {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 640px;
    height: 385px;
}

.copyrightP {
    text-align: right;
    font-size: smaller;
}




.footDiv {
    color: #045757;
    text-shadow: 1px 1px #044343;
    height: 50px;
    font-size: smaller;
    text-align: center;
}		