/* Yes, we wrapped our nav in a header tag.
This allows us to add a background to the nav bar without 
cutting off on our max-width property.
To see what I mean, try moving this background to the nav element
*/
header {
    background: #044343;
    border: 1px solid gray;  
  }
  
  nav {      
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: auto;
  }
  
  .logo {
    margin-right: auto;
  }

  .dropdown-link-container {       
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .dropdown-link-container > a {
    margin-left: 20px;
  }
  
  .mobile-dropdown-toggle {
    display: none;
  }
  
  @media (max-width: 768px) {
    .logo,
    .mobile-dropdown-toggle {
      z-index: 1;
    }
  
    .mobile-dropdown-toggle {
      display: initial;
    }
  
    .dropdown-link-container {
      /* first, make our dropdown cover the screen */
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      /* fix nav height on mobile safari, where 100vh is a little off */
      height: -webkit-fill-available;
  
      /* then, arrange our links top to bottom */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
  
      /* add margins and padding to taste */
      margin: 0;
      padding-left: 7vw;
      padding-right: 7vw;
      background: #044343;
      z-index: 0;
  
      opacity: 0;
      transform: translateY(-100%);
      transition: transform 0.2s, opacity 0.2s;
    }
  
    nav.dropdown-opened > .dropdown-link-container {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* this stuff isn't super important */
  html {
    font-family: sans-serif;
  }
  
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #044343 0%, #000000 74%);
}

.navLinks {
    /* white-space: nowrap; */
    background-color: black;
    color: aliceblue;
    padding: 1%;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-radius: 5%;
    border: 1px solid gray;  
  }
  
  .navLinks:hover {
    background-image: linear-gradient(315deg, #044343 0%, #000000 74%);
  }

h1 {
    color: #045757;
    text-shadow: 1px 1px #044343;
}

h2 {
    color: #045757;
    text-shadow: 1px 1px #044343;
}

a{
    color:aliceblue;
}



.row {
    display: flex;
    flex-wrap: wrap;
  }
  

  .column {
    flex: auto;
     margin: 10px;  
  }
  
  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .column {
      flex: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }

  #moonContainer {
    width: min-content;
    padding: 2%;
    align-content: right;
    border-radius: 25px;
}

#moonPicture {
    height: 200px;
    width: 200px;
}


#phase {
    color: #045757;
    text-shadow: 1px 1px #044343;
    font-size: larger;
}


#imageContainer {
    padding: 2%;
    background-color: rgba(194, 194, 194, 0.075);
    border-radius: 25px;
    border: 1px solid gray;
}

.descriptionP {
    padding-top: 2%;
}

.titleP {
    font-weight: bold;
}

.starImage {
    cursor: pointer;
    width: 100%;
    height: auto;
    object-fit: contain;
    border: 1px solid gray;
}

.starVideo {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 640px;
    height: 385px;
}

.copyrightP {
    text-align: right;
    font-size: smaller;
}


.footDiv {
    color: #045757;
    text-shadow: 1px 1px #044343;
    height: 50px;
    font-size: smaller;
    text-align: center;
}		