body {
  background-image: url("wallp.jpg");
    text-align: justify;  
}
#chaosIcon{
  height: 64px;
  width: 64px;
  background-color:#699e3c;
  border-radius: 25px;
}


input[type=text]:disabled {
    background: #62655D;
  }

  .dropbtn {
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
   border: 1px solid black;
    cursor: pointer;
    box-shadow: 2px 2px black;
   
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background: rgba(0, 0, 0, 0.4);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
    
  
  .show {
      display: flex;
        flex-direction: column;
}

.buttonsMenu{
 background-color:#699e3c;
  color: whitesmoke;
  text-shadow: 1px 1px black;
  padding: 2%;
  box-shadow: 1px 1px black;
  margin:2%;
  font-weight: bold;
  cursor: pointer;  
  border: none;
      }
  
  .buttonsMenu:hover{
    background: rgba(0, 0, 0, 0.4);
       }


#handle{   
    margin:auto;
    width: 50%;
     box-shadow: 5px 5px black;
    border-radius: 25px;
    color: whitesmoke;
    display: flex;
    align-content: space-between;
  }

#main {
  background-color:#699e3c;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    overflow: auto;
    width: 50%;
    padding: 2%;
      
    border: 1px solid black;
    border-radius: 25px;
    border: 1px solid black;
   margin-bottom: 50px;
    position: relative;   
     }   

    #buttonsBar{
        display: flex;
        align-content: space-between;
    }


    #authorsDiv{
      height:auto; overflow:auto
    }
    
   
  
    .buttons{
        float: right;
        background-color: whitesmoke;
         font-weight: bold;        
         border: 1px solid black;    
        padding: 2%;
        margin-left: 16px;      
                      
    }

    .buttons:hover{
        background-color: 	rgba(0, 0, 0, 0.4);
    }

    .buttonsMain{  
      background-color:whitesmoke;
      border: 1px solid black; 
        height: 50px;           
        font-weight: bold;  
        margin: 2px;        
        flex-basis: 100%;
    }

    .buttonsMain:hover{
        background-color: 	rgba(0, 0, 0, 0.4);
    }

          
      
    #recordField {
    background-color: whitesmoke;    
    color:black;
    padding: 20px; 
    border-radius: 25px;
    margin: 0 auto;
    border:1px solid black;
    height: 200px;
    width: 92%;
     overflow: auto;    
    float:bottom;

    }
    
    .clarification {
        font-style: italic;
        }

    #counter{
        border-style: solid;
        border: 3px solid black;
    }
        
    #pagesArticleD{
        display: none;
        width:100%;   
    }
      
    .inputField{
    border-radius: 25px;    
    width:70%;
    float: right;   
    }

    .authorInputField{
      border-radius: 25px;    
      width:70%;
      float: right;   
      }

 
    .label{ 
        padding-left: 10px;
        border-radius: 25px;
    }
    
    .periodical {
    display: none;
    }

    .articleComp{
        display: none;
    }
    
    .online {
        display: none;
    }
    
   
    .handles {
        box-shadow: 5px 5px black;
        border-radius: 25px;
    }

  
    #bottomP{
      text-align-last: center;
    }