body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: aliceblue;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #044343 0%, #000000 74%);

}

.menuDiv {
  grid-area: 1 / 1 / 2 / 8;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


input[type=text]:disabled {
  background: #62655D;
}

.buttonsMenu {
  background-color: black;
  color: aliceblue;
  padding: 1%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5%;
  border: 1px solid gray;
}

.buttonsMenu:hover {
  background-color: rgba(194, 194, 194, 0.075);
}


#main {
  background-color: rgba(194, 194, 194, 0.075);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 800px;
  overflow: auto;
  width: 50%;
  padding: 2%;
  border: 1px solid black;
  border-radius: 25px;
  border: 1px solid black;
  margin-bottom: 50px;
  position: relative;
}

#buttonsBar {
  display: flex;
  align-content: space-between;
}


#authorsDiv {
  height: auto;
  overflow: auto;
  position: relative;

}


.buttons {
  float: right;
  background-color: black;
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  border: 1px solid black;
  padding: 2%;
  margin-left: 16px;
}

.buttons:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.buttonsMain {
  background-color: black;
  color: aliceblue;
  border: 1px solid black;
  height: 50px;
  font-weight: bold;
  margin: 2px;
  flex-basis: 100%;
}

.buttonsMain:hover {
  background-color: rgba(0, 0, 0, 0.4);
}



#recordField {
  background-color: whitesmoke;
  color: black;
  padding: 20px;
  border-radius: 25px;
  margin: 0 auto;
  border: 1px solid black;
  height: 200px;
  width: 92%;
  overflow: auto;
  float: bottom;
}

.clarification {
  font-style: italic;
}

#counter {
  border-style: solid;
  border: 3px solid black;
}

#pagesArticleD {
  display: none;
  width: 100%;
}

.inputField {
  border-radius: 25px;
  width: 70%;
  float: right;
}

.authorInputField {
  border-radius: 25px;
  width: 70%;
  float: right;
}


.label {
  padding-left: 10px;
  border-radius: 25px;
}

.periodical {
  display: none;
}

.articleComp {
  display: none;
}

.online {
  display: none;
}

.footer {
  flex-shrink: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  color: whitesmoke;
  text-shadow: 1px 1px black;
  text-align: center;
}

span {
  font-style: italic;
}